.beer-card {
  background-color: #fff;
  box-shadow: 0px 2px 5px 1px rgba(0,0,0, 0.2);
  max-width: 400px;
  width: 100%;
  margin: 1rem 0;
  padding: 1rem;
}
img {
  height: 300px;
  max-width: 100%;
  display: block;
  margin: 0 auto 1em;
}
